
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  become: yes

- name: Install Nginx
  ansible.builtin.apt:
    name: nginx
    state: present
  become: yes

- name: Ensure Nginx is running
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes
  become: yes

